body {
  margin: 0;
}
.my__container {
  width: 1140px;
  margin: auto;
}
.header {
  background-image: url(../img/allListBanner.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 900px;
}

.bg__title {
  margin-top: 150px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-size: 120px;
  line-height: 147px;
  letter-spacing: -0.01em;
  color: #f5f5f5;
}
.bg__subtitle {
  margin: 30px 0px;
  width: 350px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 25px;
  letter-spacing: -0.01em;
  color: #f5f5f5;
}
.bg__blocks {
  display: flex;
}
.bg__block {
  width: 200px;
  height: 200px;
  background: #d9d9d9;
  border-radius: 14px;
  margin-right: 22px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 21px;
}
.bg__block__img {
  width: 39px;
  height: 39px;
  object-fit: cover;
  object-position: center;
}
.bg__block__title {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: -0.01em;
  color: #323130;
}

.flex-row {
  width: 1140px;
  background: #d9d9d9;
  border-radius: 22px;
}
.flex-row h3 {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: -0.01em;
  color: #323130;
  padding: 35px 0px 0px 35px;
}
.title {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-size: 120px;
  line-height: 147px;
  letter-spacing: -0.01em;
  color: #323130;
  margin-top: 100px;
}
.my__row {
  display: flex;
  flex-flow: wrap;
  margin-left: 20px;
}
.col {
  width: 25%;
  padding-left: -20px;
  padding-bottom: 20px;
}
.block {
  position: relative;
  width: 260px;
  height: 260px;
  background: #1c1c1c;
  border-radius: 17px;
  display: flex;
}

.img__and__text {
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.img__and__text .img {
  width: 42px;
  height: 42px;
  object-fit: cover;
  object-position: center;
}
.text {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.text p {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 22px;
  color: #f5f5f5;
}
.text a img {
  width: 8px;
  height: 16px;
  object-fit: cover;
  object-position: center;
  color: aliceblue;
}

.long__block {
  background: #d9d9d9;
  border-radius: 22px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 45px;
  margin-bottom: 35px;
}
.long__block__title {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: -0.01em;
  color: #323130;
}
.long__block__description {
  width: 354px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 25px;
  letter-spacing: -0.01em;
  color: #323130;
}
.long__block__example {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 25px;
  letter-spacing: -0.01em;
  color: #323130;
}

.price__row {
  width: 1240px;
  height: 343px;
  border: 3px solid #323130;
  border-radius: 33px;
  display: flex;
  flex-flow: wrap;
  align-items: center;
  margin-left: -50px;
}
.price__col {
  width: 25%;
  padding-left: 50px;
}
.price__block {
  width: 250px;
  height: 250px;
  background: #d9d9d9;
  border-radius: 22px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 15px;
}
.price__btitle {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: -0.01em;
  color: #323130;
}
.price__text {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 49px;
  letter-spacing: -0.01em;
  color: #323130;
}

.others__row {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  margin-left: -80px;
}
.others__col {
  width: 50%;
  padding-left: 80px;
  padding-bottom: 80px;
}
.others__block {
  width: 540px;
  height: 540px;
  background: #d9d9d9;
  border-radius: 22px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 40px;
}
.others__title {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 69px;
  letter-spacing: -0.01em;
  color: #323130;
}
.others__description {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 25px;
  letter-spacing: -0.01em;
  color: #323130;
}
.others__block__and__link {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.others__block__and__link button {
  width: 220px;
  height: 60px;
  border-radius: 12px;
  margin-bottom: 20px;
}
.others__block__and__link .link {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 25px;
  letter-spacing: -0.01em;
  color: #323130;
}
