.doing__info {
  display: flex;
  justify-content: space-between;
  margin: 100px 0px;
}
.doing__info h2 {
  font-weight: 600;
  font-size: 56px;
  line-height: 69px;
  color: #323130;
}
.doing__text {
  width: 63%;
}

.doing__text > p {
  font-weight: 600;
  font-size: 17px;
  line-height: 30px;
  color: #323130;
  width: 478px;
  border-bottom: 1px solid #a19f9d;
  padding-bottom: 20px;
  margin-top: 30px;
}

.doing__text h3 {
  font-weight: 700;
  font-size: 28px;
  line-height: 30px;
  color: #323130;
  margin: 20px 0px 10px 0px;
}

.doing__items {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
}
.doing__items p {
  font-weight: 500;
  font-size: 17px;
  line-height: 30px;
  color: #a19f9d;
  margin: 10px 0px;
  margin-right: 40px;
}
.work {
  margin-bottom: 100px;
}
.work__item {
  display: flex;
  height: 176px;
  background-color: #e4e4e4;
  border-radius: 20px;
  align-items: center;
  padding-left: 38px;
  margin-bottom: 50px;
}
.work__title {
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
  color: #323130;
  margin-bottom: 40px;
}
.work__item h2 {
  font-weight: 600;
  font-size: 56px;
  line-height: 69px;
  color: #323130;
}
.work__item h3 {
  margin: 0px 139px 0px 58px;
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
  color: #323130;
}
.work__item p {
  width: 424px;
  font-weight: 600;
  font-size: 17px;
  line-height: 30px;
  color: #323130;
}
